[submodule "libmpd"]
	path = libmpd
	url = https://github.com/iyefrat/libmpd-haskell
[submodule "vty"]
	path = vty
	url = https://github.com/jtdaugherty/vty
[submodule "brick"]
	path = brick
	url = https://github.com/jtdaugherty/brick
